@media screen and (min-width: 481px){
	body{
		background-color: yellowgreen;
	}
	#main li{
		width: 50%;
		float: left;
	}
	#header{
		
	}
	#main{
		overflow: hidden; /*porque esto tiene contenido flotado en su interior*/
	}
	#aside{
		overflow: hidden;
	}
	#footer{
		height: 100px;
	}
}