@media screen and (max-width: 862px){

header {
    margin: 0px 10px;
    height: 10vh;
}
.contenedor_iconos {
    width: 48%;
    position: absolute;
    top: 0;
    right: 40px;
    margin-right: 5px;
}
#c2a {
    top: 190px;
    left: 0%;
}
#c2a h1 {
    line-height: 35px;
}
#imagen{
    display: none;
}
/*++++++++++ BURGUER ++++++++++*/
ul#burguer {
    display: block;
}
#burguer{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: -5px;
}
#burguer li {
    background-color: #080808;
    width: 20px;
    height: 1px;
    margin: 5px auto;
    border-radius: 15px;
}
#menu {
    position: absolute;
    top: 40px;
    left: -100%;
    width: 100%;
    height: 92vh;
    background-color: white;
    z-index: 2;
}
#menu > li {
    float: none;
}
.check{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    display: block;
}
.check:checked ~ #menu{
    left: 0;
}
/*++++++++++ MENU ++++++++++*/
.sub li {
    margin: 20px;
}
#menu li .sub {
    top: 30px;
}
ul.modelos {
    display: block;
    left: 0;
    top: 25px;
    border-left: none;
}
/*++++++++++ MAIN ++++++++++*/
.vista {
    width: 100%;
    border-right: none;
    border-bottom: none;
}
.clickaqui {
    width: 40vw;
}
#bolas {
    width: 11vw;
    margin-top: 0;
}
.color {
    width: 15px;
    height: 15px;
}
}