<link@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}
/*++++++++++HEADER++++++++++*/
header {
	margin: 0px 40px;
	background-color: white;
	height: 10vh;
	overflow: hidden;
}
/*ul#burguer{
	display: none;
}*/
.contenedor_logo {
	/* display: inline-block; */
	width: 25%;
	float: left;
	font-style: italic;
}
.contenedor_iconos {
	width: 14%;
	float: right;
	text-align: right;
	margin: 20px auto;
}
#menu {
	overflow: hidden;
	text-align: center;
	width: 50%;
	height: 8vh;
	float: left;
	padding: 0;
}
#menu > li {
	width: 16%;
	float: left;
	padding-bottom: 20px;
}
#menu li .sub {
	width: 98vw;
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: white;
	z-index: 2;
	text-align: left;
	padding: 15px;
}
#menu li .sub li {
	width: 20vw;
	float: none;
}
li {
    margin: 10px;
    list-style-type: none;
}
.sub {
    padding-left: 0;
}
.sub li {
    margin: 40px;
}
a {
    text-decoration: none;
    color: black;
}
#sub_carretera {
	position: relative;
}
ul.modelos {
	display: none;
	background-color: white;
	position: absolute;
	left: 220px;
	top: -40px;
	width: 18vw;
	border-left: 1px solid grey;
	padding: 0;
}
.personalizar {
	position: absolute;
	left: 460px;
	top: -40px;
	background-color: white;
	width: 20vw;
	padding: 0;
	border-left: 1px solid grey;
	height: 46vh;
	display: none;
}
.contenedor_iconos p {
	display: inline;
}
.fa {
	font-size: 20px;
	color: black;
	margin: 0 10px;
}
#imagen {
	/*background-color: gold;*/
	width: 40vw;
	height: 50vh;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
#img_change {
	width: 100%;
	height: 50vh;
}
input.check {
    display: none;
}
/*++++++++++HOVER++++++++++*/
#menu li:hover > .sub{ /*cuando pase el raton por el menu principal, aparecerá el submenú*/
		display: block;
	}
.sub li:hover > .modelos {
	display: block;
}
.sub li:hover > .personalizar{
	display: block;
}
/*++++++++++MAIN++++++++++*/
main{
	height: 80vh;
}
#info{
	float: left;
	width: 25vw;
	margin-left: 40px;
}
h1 {
    line-height: 1;
}
h4 {
    margin: 5px 0;
    font-weight: 400;
}
#img_bici {
    float: left;
    width: 50vw;
    height: 50vh;
}
img#grande {
    width: 40vw;
}
.color{
	width: 25px;
	height: 25px;
	margin: 10px;
	background-color: gold;
	border-radius: 20px;
}
div#bolas {
    float: right;
    display: flex;
    width: 10vw;
}
#azul{
	background-color: blue;
}
#negro{
	background-color: black;
}
#blanco{
	background-color: white;
	border: 1px solid black;
}
/*++++++++++FOOTER++++++++++*/
footer {
    height: 10vh;
    text-align: center;
}
footer h3{
	padding-top: 10px;
}
div#customiza {
    width: 33.33%;
    background-color: white;
    z-index: 2;
    height: 10vh;
    float: left;
}
#customiza h3 {
    font-weight: 400;
}
div#compra {
    width: 33.33%;
    background-color: #0063be;
    z-index: 2;
    height: 10vh;
    float: left;
    color: white;

}
div#precio {
    width: 33.33%;
    background-color: black;
    z-index: 2;
    height: 10vh;
    float: left;
    color: white;
}