<link@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}
/*++++++++++HEADER++++++++++*/
header {
	margin: 0px 40px;
	background-color: white;
	height: 55px;
	overflow: hidden;
}
/*ul#burguer{
	display: none;
}*/
.contenedor_logo {
	/* display: inline-block; */
	width: 25%;
	float: left;
	font-style: italic;
}
.contenedor_iconos {
	width: 14%;
	float: right;
	text-align: right;
	margin: 20px auto;
}
#menu {
	overflow: hidden;
	text-align: center;
	width: 50%;
	height: 8vh;
	float: left;
	padding: 0;
}
#menu > li {
	width: 16%;
	float: left;
	padding-bottom: 20px;
}
#menu li .sub {
	width: 98vw;
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: white;
	z-index: 2;
	text-align: left;
	padding: 15px;
}
#menu li .sub li {
	width: 20vw;
	float: none;
}
li {
    margin: 10px;
    list-style-type: none;
}
.sub {
    padding-left: 0;
}
.sub li {
    margin: 40px;
}
a {
    text-decoration: none;
    color: black;
}
#sub_carretera {
	position: relative;
}
ul.modelos {
	display: none;
	background-color: white;
	position: absolute;
	left: 220px;
	top: -40px;
	width: 18vw;
	border-left: 1px solid grey;
	padding: 0;
}
.personalizar {
	position: absolute;
	left: 460px;
	top: -40px;
	background-color: white;
	width: 20vw;
	padding: 0;
	border-left: 1px solid grey;
	height: 46vh;
	display: none;
}
.contenedor_iconos p {
	display: inline;
}
.fa {
	font-size: 20px;
	color: black;
	margin: 0 10px;
}
#imagen {
	/*background-color: gold;*/
	width: 40vw;
	height: 50vh;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
#img_change {
	width: 100%;
	height: 50vh;
}
/*++++++++++HOVER++++++++++*/
#menu li:hover > .sub{ /*cuando pase el raton por el menu principal, aparecerá el submenú*/
		display: block;
	}
.sub li:hover > .modelos {
	display: block;
}
.sub li:hover > .personalizar{
	display: block;
}
.vista:hover{
	background-color: light-grey;
}
/*++++++++++MAIN++++++++++*/
main{
	text-align: center;
}
h1 {
    margin: 25px 0;
}
.vista {
    width: 33%;
    height: 60vh;
    float: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
div#img_bici {
    width: 60%;
    height: auto;
    margin: 0 auto;
}
img#grande {
    width: 100%;
    height: auto;
}
#botones {
    display: flex;
    width: 100%;
    justify-content: center;
}
.clickaqui {
    width: 10vw;
    height: 5vh;
    border: 1px solid black;
    margin: 20px;
}
h3 {
    line-height: 0;
    font-weight: 400;
}
#bolas {
    width: 4vw;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
}
.color {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50px;
    margin: 10px;
}
}